html, body, nav, header {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    border: 10px solid green;
}


body {
    display: flex;
    flex-flow: column nowrap;
    border: 10px solid hotpink;
    height: 100vh;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

header {
    border: 10px solid blue;
}

nav {
    border: 10px solid black;
}

ul {
    border: 10px solid orange;
}

li {
    display: inline-block;
    border: 10px solid yellow;
    padding: 10px;
    position: relative;
    left: 1000px;
    
}

a {
    text-decoration: none;
}

a:hover {
    background-color: skyblue;
}

div {
    width: 150px;
    height: 50px;
    border: 10px solid blueviolet;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    position: relative;
    left: 90px;

}

main {
    border: 10px solid brown;
    width: auto;
    height: 500px;
    
}

section {
    border: 10px solid gold;
    padding: 20px;
    margin: 20px 300px;
   

}

footer {
    /* border: 10px solid gold; */
    height: 50px;
    position: relative;
    top: 192px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: grey;
    color: whitesmoke;
    border-top: 10px solid teal;

}

h1 {
    color: teal;
}